html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container-fluid, .row, .col-lg-4, .col-lg-8 {
    height: 100%;
}

.bg1 {
    background-color: #FFFFFF;
    background-size: cover;
}

#contents {
    height: 100%;
}

#SignUpImg {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Stingless_Bees_from_Bicol%2C_Philippines.jpg/1920px-Stingless_Bees_from_Bicol%2C_Philippines.jpg?20210528030810');
    background-size: cover; /* or cover, depending on your requirement */
    background-position: center;
    height: 100%;
    margin-right: -2%; 
    width: auto;  
}

/* Media query to hide image on smaller screens */
@media (max-width: 768px) {
    #loginImg {
        background-image: none;
    }
}


#loginLogo{
    width: 42%;
    margin-left: -2%;
}

#btn{
    background-color: #2B2B2B;
    border-radius: 50px; /* Adjust this value to make the button more or less rounded */
    margin-top: 12px;
    font-size: 10px;
    color: white;
    height: auto;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    font-weight: 350;
}

#btn:hover{
    background-color: #FAEF9B;
    box-shadow: 0 5px #2B2B2B;
    color: #2B2B2B;
    transition: background-color 0.5s ease;
}

.text{
    background-color: #FAEF9B;
    display: inline-block;
    border-radius: 10px;
    font-size: 32px;   
    margin-top: 12%;
    margin-bottom: 12%;
    padding: 2px;
}

@media (max-width: 768px) {
    .text{
        font-size: 24px;
    }
}

#fullName, #email, #mobileNumber, #password, #confirmPassword{
    background-color: #F3F8FF;
    border: 2px solid black;
    border-radius: 12px;
    width: 100%; /* Ensure the input fields expand to fill the container */
    font-size: 14px;
    height: 50px;
    
}

.form-floating{
    font-size: 10px;
}


u{
    background-color: #6DA4AA;
    display: inline-block;
    border-radius: 5px;
}

u:hover{
    text-decoration: none;
}

.top{
    display: flex;
    justify-content: space-between;
}

.log{
    display: flex;
    justify-content: space-between;
}

.href{
    text-decoration: none;
}

.terms{
    font-size: 12px;
}

.position-relative {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 38%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
}

.form-content {
    max-height: calc(100vh - 120px); /* Adjust this value as needed */
    overflow-y: auto;
}

.invalid-feedback {
    display: none;
}

input.is-invalid {
    background-image: none !important; /* Remove the alert icon */
    border-color: #dc3545; /* Keep the border red for invalid state */
}

input.is-invalid ~ .invalid-feedback {
    display: block;
}