@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

body {
  background-color: #f3f3f3;
  min-height: 100%;
}

/* --------------------------------------------Start: Sidebar Desktop View---------------------------------------------*/
.sidebar.collapsed:hover,
.sidebar {
  width: 18rem;
  overflow-y: auto;
  transition: width 0.2s, left 0.2s;
  left: 0;
  z-index: 500;
  transition: background-color 0.5s ease;
}

.sidebar.collapsed {
  left: -18rem;
}

.sidebar-toggle {
  cursor: pointer;
  transition: 0.2s;
}
.sidebar-menu {
  list-style-type: none;
}
.sidebar-menu-item {
  margin-bottom: 0.9rem;
}
.sidebar-menu-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--bs-dark);
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 1.1rem;
  white-space: nowrap;
}
.sidebar-menu-item > a {
  overflow: hidden;
}
.sidebar-menu-item.focused > a,
.sidebar-menu-item > a:hover {
  background-color: var(--bs-gray-200);
  transition: background-color 0.5s ease;
}
.sidebar-menu-item.active a {
  background-color: #fcf4b9;
  height: 2.7rem;
  color: #2b2b2b;
  box-shadow: 0 5px #2b2b2b;
}
.sidebar-menu-item-icon {
  margin-right: 0.625rem;
  font-size: 1rem;
}
.sidebar-menu-item-accordion {
  transition: transform 0.2s;
}
.sidebar-dropdown-menu-item.focused > a .sidebar-menu-item-accordion,
.sidebar-menu-item.focused > a .sidebar-menu-item-accordion {
  transform: rotateZ(180deg);
}
.sidebar.collapsed:hover .sidebar-menu-divider,
.sidebar-menu-divider {
  font-size: 0.75rem;
  color: var(--bs-gray-600);
  transition: opacity 0.2s;
  opacity: 1;
  visibility: visible;
  transition: background-color 0.5s ease;
}
.sidebar-dropdown-menu-item a {
  padding: 0.375rem 0;
  padding-right: 0.75rem;
}
.sidebar-dropdown-menu-item.focused > a,
.sidebar-dropdown-menu-item a:hover {
  color: var(--bs-indigo);
  transition: background-color 0.5s ease;
}
.sidebar-dropdown-menu {
  padding-left: 2rem;
}
/* --------------------------------------------End: Sidebar Desktop View---------------------------------------------*/

/* --------------------------------------------Start: Sidebar Mobile View---------------------------------------------*/
.sidebar2 {
  width: 13rem;
  overflow-y: auto;
  transition: width 0.2s, left 0.2s;
  left: 0;
  z-index: 500;
}
.sidebar-menu-item2 {
  margin-bottom: 0.9rem;
}
.sidebar-menu-item2 a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--bs-dark);
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  white-space: nowrap;
}
.sidebar-menu-item2 > a {
  overflow: hidden;
}
.sidebar-menu-item2.focused > a,
.sidebar-menu-item2 > a:hover {
  background-color: var(--bs-gray-200);
  transition: background-color 0.5s ease;
}
.sidebar-menu-item2.active a {
  background-color: #fcf4b9;
  height: 2.5rem;
  color: #2b2b2b;
  box-shadow: 0 5px #2b2b2b;
}
.sidebar-menu-item-icon2 {
  margin-right: 0.625rem;
  font-size: 1rem;
}
.sidebar-menu-item-accordion {
  transition: transform 0.2s;
}

.sidebar.collapsed:hover .sidebar-menu-divider,
.sidebar-menu-divider {
  font-size: 0.75rem;
  color: var(--bs-gray-600);
  transition: opacity 0.2s;
  opacity: 1;
  visibility: visible;
}

.sidebar-dropdown-menu-item2.focused > a,
.sidebar-dropdown-menu-item2 a:hover {
  color: var(--bs-indigo);
  transition: background-color 0.5s ease;
}

@media (min-width: 768px) {
  .sidebar.collapsed {
    width: 4.75rem;
    left: 0;
  }
  .sidebar.collapsed .sidebar-logo {
    display: none;
  }
  .sidebar.collapsed:hover .sidebar-logo {
    display: block;
    transition: background-color 0.5s ease;
  }
  .sidebar.collapsed:hover .sidebar-toggle {
    margin-left: auto;
    margin-right: 0;
    transition: background-color 0.5s ease;
  }
  .sidebar.collapsed .sidebar-toggle {
    margin: 0 auto;
    transform: rotateZ(180deg);
  }
  .sidebar.collapsed:hover .sidebar-menu-divider {
    font-size: 0.75rem;
    color: var(--bs-gray-600);
    transition: opacity 0.2s;
    opacity: 1;
    visibility: visible;
    transition: background-color 0.5s ease;
  }
  .sidebar.collapsed .sidebar-menu-divider {
    opacity: 0;
    visibility: hidden;
  }
}
/* --------------------------------------------End: Sidebar Mobile View---------------------------------------------*/

/* --------------------------------------------Start: Toggle and Off-Canvas ---------------------------------------------*/
@media (min-width: 768px) {
  .btn-toggle {
    display: none;
  }
  .offcanvass {
    transform: none !important;
    visibility: visible !important;
  }
}

@media (max-width: 767px) {
  .btn-toggle {
    display: block;
  }
  .offcanvass {
    visibility: hidden;
  }
}
/* --------------------------------------------End: Toggle and Off-Canvas ---------------------------------------------*/

/* --------------------------------------------Start: Navbar Desktop View---------------------------------------------*/
nav {
  display: flex;
  align-items: center;
  border: 2px solid #2b2b2b;
  background-color: #fcf4b9;
  box-shadow: 0 5px #2b2b2b;
}
.navbar-link {
  background-color: #faef9b;
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: 2.5rem;
  color: #2b2b2b;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
}
.navbar-link:hover {
  background-color: #fef9d9;
  border-radius: 50%;
}
.navbar-link i:hover {
  transform: scale(1.09);
}
/* --------------------------------------------End: Navbar Desktop View---------------------------------------------*/

/* --------------------------------------------Start: Main Desktop View---------------------------------------------*/
main {
  min-height: 100vh;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.Beemo-text {
  font-size: 1.4rem;
  font-weight: 400;
}

/* --------------------------------------------End: Main Desktop View---------------------------------------------*/

/* --------------------------------------------Start: Main Responsive View---------------------------------------------*/

@media (min-width: 768px) {
  main {
    transition: padding-left 0.2s;
    padding-left: 22rem;
    padding-top: 2rem;
    padding-right: 4rem;
  }
  .home-page {
    box-shadow: 0 6px #2b2b2b;
    background-image: linear-gradient(#f8f9fa 75%, #fcf4b9 25%);
  }

  .sidebar.collapsed ~ main {
    padding-left: 4.75rem;
  }
}

@media (max-width: 767.98px) {
  .home-page {
    min-height: 74vh;
    padding: 10px;
    margin: 10px;
    background-image: linear-gradient(#f8f9fa 75%, #fcf4b9 25%);
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
  }
  .Beemo-text {
    font-size: 1.2rem !important;
  }
  nav {
    padding: 10px;
    margin: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
  }
  .navbar-link {
    background-color: #ffffff;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  }
  .navbar-link:hover {
    background-color: #ffffff;
    border-radius: 50%;
  }

  .yellow {
    min-height: 5vh;
    background-color: #faef9b;
    overflow-y: auto;
  }
}

@media (max-width: 1200px) {
  .Beemo-text {
    font-size: 1.2rem !important;
  }
}

/* --------------------------------------------End: Main Responsive View---------------------------------------------*/
