html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container-fluid, .row, .col-lg-4, .col-lg-8 {
    height: 100%;
}

.bg1 {
    background-color: #FFFFFF;
    background-size: cover;
}

#contents {
    height: 100%;
}

#loginImg {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Stingless_Bees_from_Bicol%2C_Philippines.jpg/1920px-Stingless_Bees_from_Bicol%2C_Philippines.jpg?20210528030810');
    background-size: cover; /* or cover, depending on your requirement */
    background-position: center;
    height: 100%;
    margin-right: -2%;   
    width: auto;
}

/* Media query to hide image on smaller screens */
@media (max-width: 768px) {
    #loginImg {
        background-image: none;
    }
}

#loginLogo{
    width: 42%;
    margin-left: -2%;
}

#btn{
    background-color: #2B2B2B;
    border-radius: 50px; /* Adjust this value to make the button more or less rounded */
    margin-top: 24px;
    font-size: 12px;
    height: auto;
    letter-spacing: 5px;
    color: white;
}

#btn:hover{
    background-color: #FAEF9B;
    box-shadow: 0 5px #2B2B2B;
    color: #2B2B2B;
    transition: background-color 0.5s ease;
}


.text{
    background-color: #FAEF9B;
    display: inline-block;
    border-radius: 10px;
    font-size: 36px;   
    margin-top: 18%;
    margin-bottom: 18%;
    padding: 2px;
}

@media (max-width: 768px) {
    .text{
        font-size: 32px;
    }
}

#floatingInput{
    background-color: #F3F8FF;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    height: auto;
    padding: 10px;
}


.top{
    display: flex;
    justify-content: space-between;
}

#timer{
    color: red;
}

.href{
    text-decoration: none;
}

.form-content {
    max-height: calc(100vh - 120px); /* Adjust this value as needed */
    overflow-y: auto;
}